<br>
<h3>All Orders</h3>
<br>
<!--{{orders | json}}-->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>SNo</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Ordered Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders; let i = index">
            <td>{{i + 1}}</td>
            <td>{{order.item_name}}</td>
            <td>{{order.total_price | currency: "USD"}}</td>
            <td>{{order.status}}</td>
            <td>{{order.ordered_date}}</td>
            <td>
                <button *ngIf="order.status=='ORDERED'" type="button" class="btn btn-success" (click)="deliverOrder(order)">DELIVERED</button>
                &nbsp;
                <button *ngIf="order.status=='ORDERED'" type="button" class="btn btn-danger" (click)="cancelOrder(order)">CANCEL</button>
            </td>

        </tr>

    </tbody>
</table>